.nav-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px; /* Increase padding for more space around buttons */
  gap: 20px; /* Increase gap between buttons */
  background-color: rgb(15, 15, 57); /* Set background color to blue */
  border-bottom: 1px solid #ccc;
}

.nav-buttons button {
  margin-right: 20px; /* Add margin to the right of each button */
}
